<link href="../../styles/main.css" rel="stylesheet">
<link href="../../styles/wacommon.css" rel="stylesheet">
<link href="../../styles/masion.css" rel="stylesheet">

<link href="../../styles/introduction.css" rel="stylesheet">


<div class="col-xs-12 column line-bottom">
    <div class="row clearfix">
        <h3 class="pull-left"> 견적문의 </h3>
        <ul class="list-unstyled list-inline pull-right pager01">
            <li>
                <a href="#"> HOME ></a>
            </li>
            <li class="active">
                <a href="#"> 견적문의 ></a>
            </li>

        </ul>
    </div>
</div>
<div class="row clearfix"><br></div>

<div class="row clearfix">

    <div class="col-md-12 column">
        <form role="form">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="form-group">
                        <label for="usedInputTitle">제목</label><input class="pull-right" readonly="readonly"
                                                                     id="usedInputDate">

                        <div class="row clearfix"></div>
                        <input type="text" class="form-control" id="usedInputTitle"
                               autofocus="autofocus" readonly="readonly">
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="col-md-6 column visible-md visible-lg myhalf">
                        <div class="form-group form-inline">
                            <label for="usedInputname">작성자</label>

                            <div class="row clearfix"></div>
                            <input type="text" class="form-control myhalfinput" id="usedInputname"
                                   readonly="readonly">
                        </div>
                        <div class="form-group ">
                            <label for="usedInputCompany">업체명</label>

                            <div class="row clearfix"></div>
                            <input type="text" class="form-control myhalfinput" id="usedInputCompany"
                                   readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-6 column visible-md visible-lg myhalf">
                        <div class="form-group">
                            <label for="usedInputCall">연락처</label>

                            <div class="row clearfix"></div>
                            <input type="tel" class="form-control myhalfinput" id="usedInputCall"
                                   readonly="readonly">
                        </div>

                        <div class="form-group">
                            <label for="usedInputEmail">이메일</label>

                            <div class="row clearfix"></div>
                            <input type="email" class="form-control myhalfinput"
                                   id="usedInputEmail" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="col-md-12 column visible-sm visible-xs"></div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="form-group">
                        <label for="usedInputContent">내용</label>

                        <div class="row clearfix"></div>
                        <textarea rows="10" cols="" class="form-control"
                                  id="usedInputContent"
                                  readonly="readonly"></textarea>
                    </div>
                </div>
            </div>

        </form>
        <div class="mywidth">
            <div class="pull-right">
                <!--<a class="btn btn-danger pull-right" ng-click='remove(Costomer_File.id)'>삭제</a>-->
                <form action="/requestList" method="post"><input type="hidden" name="role" value="1">
                    <button onclick="submit()" class="btn btn-primary pull-right">목록보기</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="scripts/design/scripts.js"></script>
<script src="scripts/design/respond.js"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="scripts/design/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var title = document.getElementById('usedInputTitle');
        var writer = document.getElementById('usedInputname');
        var company = document.getElementById('usedInputCompany');
        var contact = document.getElementById('usedInputCall');
        var email = document.getElementById('usedInputEmail');
        var content = document.getElementById('usedInputContent');
        var date = document.getElementById('usedInputDate');
        var url = window.location.href;
        var id = url.indexOf('?');
        var send = url.slice(id + 4);
        $.post('/getboard', {id: send}, function (data) {
            var message = data.sending[0];
            title.value = message.title;
            writer.value = message.writer;
            company.value = message.company;
            contact.value = message.contact;
            email.value = message.email;
            content.value = message.content;
            date.value = '작성일 : ' + message.date;
        });
    });
</script>
