extends layout
block content
    div(class='row clearfix')
        div(class='col-md-12')
            div(class='container' style='width: 960px;')
                    include content/1200-organization/050-1200-organization.html