<link href="../../styles/main.css" rel="stylesheet">
<link href="../../styles/wacommon.css" rel="stylesheet">
<link href="../../styles/masion.css" rel="stylesheet">
<link href="../../styles/introduction.css" rel="stylesheet">
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="../../scripts/blueimpde.js"></script>

<div class="col-md-12 column line-bottom">
    <div class="row clearfix">
        <h3 class="pull-left"> 포트폴리오 </h3>
        <ul class="list-unstyled list-inline pull-right pager01">
            <li>
                <a href="#"> HOME </a>
            </li>
            >
            <li>
                <a href="#/portfolio1"> 포트폴리오 </a>
            </li>
            >
            <li class="active">
                아파트
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12 column">
<div class="row clearfix line-bottom02">
    <h4><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링 </h4>
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title show"> 레스토랑</h3>
    <a class="prev show">‹</a>
    <a class="next show">›</a>
    <a class="close show">×</a>

    <ol class="indicator show"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title show"> 레스토랑</h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 column">
<div class="tabbable" id="tabs-616975">
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#panel-living" data-toggle="tab">거실</a>
    </li>
    <li class="">
        <a href="#panel-kitchen" data-toggle="tab">주방</a>
    </li>
    <li class="">
        <a href="#panel-bathroom" data-toggle="tab">화장실</a>
    </li>
    <li class="">
        <a href="#panel-expense" data-toggle="tab">개략공사비산정</a>
    </li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="panel-living">
    <p>
    <div class="row clearfix"><div id="living">
        <ul class="list-unstyled port-thum list-inline">

                <a href="../../images/portfolio/apt/living/living (1).jpg" title="1" data-gallery="#data-gallery-living">
                    <img src="../../images/portfolio/apt/living/living (1).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="1">
                </a>
                <a href="../../images/portfolio/apt/living/living (2).jpg" title="2" data-gallery="#data-gallery-living">
                    <img src="../../images/portfolio/apt/living/living (2).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="2">
                </a>
                <a href="../../images/portfolio/apt/living/living (3).jpg" title="3" data-gallery="#data-gallery-living">
                    <img src="../../images/portfolio/apt/living/living (3).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="3">
                </a>
                <a href="../../images/portfolio/apt/living/living (4).jpg" title="4" data-gallery="#data-gallery-living">
                    <img src="../../images/portfolio/apt/living/living (4).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="4">
                </a>

        </ul>
        <ul class="list-unstyled port-thum list-inline">
                <a href="../../images/portfolio/apt/kitchen/kitchen (1).jpg" title="1"  data-gallery="#data-gallery-living">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (1).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="1">
                </a>
                <a href="../../images/portfolio/apt/kitchen/kitchen (2).jpg" title="2"  data-gallery="#data-gallery-living">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (2).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="2">
                </a>
                <a href="../../images/portfolio/apt/kitchen/kitchen (3).jpg" title="3"  data-gallery="#data-gallery-living">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (3).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="3">
                </a>
                <a href="../../images/portfolio/apt/kitchen/kitchen (4).jpg" title="4"  data-gallery="#data-gallery-living">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (4).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="4">
                </a>
        </ul>
        <ul class="list-unstyled port-thum list-inline">
                <a href="../../images/portfolio/apt/living/living (9).jpg" title="1"  data-gallery="#data-gallery-living">
                    <img src="../../images/portfolio/apt/living/living (9).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="1">
                </a>
        </ul>
    </div></div>
</div>
<div class="tab-pane" id="panel-kitchen">
    <p>

    <div class="row clearfix"><div id="kitchen">
        <ul class="list-unstyled port-thum list-inline">

                <a href="../../images/portfolio/apt/kitchen/kitchen (1).jpg" title="1"  data-gallery="#data-gallery-kitchen">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (1).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="1">
                </a>
                <a href="../../images/portfolio/apt/kitchen/kitchen (2).jpg" title="2"  data-gallery="#data-gallery-kitchen">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (2).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="2">
                </a>
                <a href="../../images/portfolio/apt/kitchen/kitchen (3).jpg" title="3"  data-gallery="#data-gallery-kitchen">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (3).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="3">
                </a>
                <a href="../../images/portfolio/apt/kitchen/kitchen (4).jpg" title="4"  data-gallery="#data-gallery-kitchen">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (4).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="4">
                </a>

        </ul>
        <ul class="list-unstyled port-thum list-inline">
                <a href="../../images/portfolio/apt/kitchen/kitchen (5).jpg" title="1"  data-gallery="#data-gallery-kitchen">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (5).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="1">
                </a>
                <a href="../../images/portfolio/apt/kitchen/kitchen (6).jpg" title="2"  data-gallery="#data-gallery-kitchen">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (6).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="2">
                </a>
                <a href="../../images/portfolio/apt/kitchen/kitchen (7).jpg" title="3"  data-gallery="#data-gallery-kitchen">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (7).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="3">
                </a>
                <a href="../../images/portfolio/apt/kitchen/kitchen (8).jpg" title="4"  data-gallery="#data-gallery-kitchen">
                    <img src="../../images/portfolio/apt/kitchen/kitchen (8).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="4">
                </a>
        </ul></div>
    </div>
    </p>
</div>
<div class="tab-pane" id="panel-bathroom">
    <p>

    <div class="row clearfix"><div id="bathroom">
        <ul class="list-unstyled port-thum list-inline">
                <a href="../../images/portfolio/apt/bathroom/bath (1).jpg" title="1"  data-gallery="#data-gallery-bathroom">
                    <img src="../../images/portfolio/apt/bathroom/bath (1).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="1">
                </a>
                <a href="../../images/portfolio/apt/bathroom/bath (2).jpg" title="2"  data-gallery="#data-gallery-bathroom">
                    <img src="../../images/portfolio/apt/bathroom/bath (2).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="2">
                </a>
                <a href="../../images/portfolio/apt/bathroom/bath (3).jpg" title="3"  data-gallery="#data-gallery-bathroom">
                    <img src="../../images/portfolio/apt/bathroom/bath (3).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="3">
                </a>
                <a href="../../images/portfolio/apt/bathroom/bath (4).jpg" title="4"  data-gallery="#data-gallery-bathroom">
                    <img src="../../images/portfolio/apt/bathroom/bath (4).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="4">
                </a>

        </ul>
        <ul class="list-unstyled port-thum list-inline">

            <a href="../../images/portfolio/apt/bathroom/bath (5).jpg" title="1"  data-gallery="#data-gallery-bathroom">
                <img src="../../images/portfolio/apt/bathroom/bath (5).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="1">
            </a>
            <a href="../../images/portfolio/apt/bathroom/bath (6).jpg" title="2"  data-gallery="#data-gallery-bathroom">
                <img src="../../images/portfolio/apt/bathroom/bath (6).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="2">
            </a>
            <a href="../../images/portfolio/apt/bathroom/bath (7).jpg" title="3"  data-gallery="#data-gallery-bathroom">
                <img src="../../images/portfolio/apt/bathroom/bath (7).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="3">
            </a>
            <a href="../../images/portfolio/apt/bathroom/bath (8).jpg" title="4"  data-gallery="#data-gallery-bathroom">
                <img src="../../images/portfolio/apt/bathroom/bath (8).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="4">
            </a>
        </ul>
        <ul class="list-unstyled port-thum list-inline">
            <a href="../../images/portfolio/apt/bathroom/bath (9).jpg" title="4"  data-gallery="#data-gallery-bathroom">
                <img src="../../images/portfolio/apt/bathroom/bath (9).jpg" style="width: 20%;height: 20%; margin-left: 20px" alt="4">
            </a>

        </ul></div>
    </div>
    </p>
</div>
<div class="tab-pane" id="panel-expense">
    <br>
    <div id="changeImg">
        <img src='../../images/portfolio/apt/living/living (1).jpg' class='img-thumbnail'>
    </div>
    <br>

    <div class="col-md-12 column">
        <div class="tabbable" id="tabs-616975">
            <br>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#panel-27pyoung" data-toggle="tab" onclick="process(1)">27평</a>
                </li>
                <li class="">
                    <a href="#panel-38pyoung" data-toggle="tab" onclick="process(2)">38평</a>
                </li>
                <li class="">
                    <a href="#panel-45pyoung" data-toggle="tab" onclick="process(3)">45평</a>
                </li>
                <li class="">
                    <a href="#panel-50pyoung" data-toggle="tab" onclick="process(4)">50평</a>
                </li>
            </ul>
            <script>
                var process = function(n){
                    if(n==1){
                        $('#changeImg').empty();
                        $('#changeImg').append("<img src='../../images/portfolio/apt/living/living (1).jpg' class='img-thumbnail'>");
                    }
                    else if(n==2){
                        $('#changeImg').empty();
                        $('#changeImg').append("<img src='../../images/portfolio/apt/living/living (2).jpg' class='img-thumbnail'>");
                    }
                    else if(n==3){
                        $('#changeImg').empty();
                        $('#changeImg').append("<img src='../../images/portfolio/apt/living/living (3).jpg' class='img-thumbnail'>");
                    }
                    else if(n==4){
                        $('#changeImg').empty();
                        $('#changeImg').append("<img src='../../images/portfolio/apt/living/living (4).jpg' class='img-thumbnail'>");
                    }
                }
            </script>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-27pyoung">
                    <p>
                    <ul>
                        <li>바닥 : 강화마루.방문턱제거:거실</li>
                        <li>도배 : 거실(실크,한면 Point 벽지)<br>　　　방(광폭,합지도배)</li>
                        <li>도장 : 전체 REPAINT　　실내:락카 <br>　　　　　　　　　　　베란다:수성페인트</li>
                        <li>몰딩 : 천정.코너몰딩. 걸레받이(거실)</li>
                        <li>싱크대 : 상판(인조대리석) , 도어(전사)</li>
                        <li>욕실 : 타일교체 , 샤워부스설치</li>
                        <li>기타 : 빨래 건조대</li>
                        　　<br>

                        <div class="myexpense">\20,000,000</div>
                        　　<br>　　<br>
                        *ART WALL
                        　　<br>　- 디자인에 의해서 별도 계상
                        　　<br>　- 철거 공사비 별도
                    </ul>
                    </p>
                </div>
                <div class="tab-pane" id="panel-38pyoung">
                    <p>
                    <ul>
                        <li>바닥 : 강화마루.방문턱제거:거실만 시공</li>
                        <li>도배 : 거실(실크,2면 Point 벽지)
                            <br>　　　방(광폭,합지도배)
                        </li>
                        <li>도장 : 전체 REPAINT　　실내:색락카
                            <br>　　　　　　　　　　　베란다:수성페인트
                        </li>
                        <li>몰딩 : 천정,코너,도어몰딩. 걸레받이(거실)</li>
                        <li>싱크대 : 상판(인조대리석) , 도어(전사) , 싱크볼 , 후드</li>
                        <li>욕실 : 타일교체 , 샤워부스설치</li>
                        <li>기타 : 빨래 건조대 , 거실등 , 스위치 교체</li>
                        　　<br>

                        <div class="myexpense">\24,000,000</div>
                        　　<br>　　<br>
                        *ART WALL
                        　　<br>　- 디자인에 의해서 별도 계상
                        　　<br>　- 철거 공사비 별도

                    </ul>
                    </p>
                </div>
                <div class="tab-pane" id="panel-45pyoung">
                    <p>
                    <ul>
                        <li>바닥 : 강화마루.방문턱제거:거실,룸</li>
                        <li>도배 : 거실(실크,2면 Point 벽지)
                            <br>　　　방(실크 벽지)
                        </li>
                        <li>도장 : 전체 REPAINT　　실내:색락카
                            <br>　　　　　　　　　　　베란다:수성페인트
                        </li>
                        <li>몰딩 : 천정,코너,도어,등박스 몰딩. 걸레받이(거실)</li>
                        <li>싱크대 : 상판(인조대리석) , 도어(전사) , 싱크볼 , 후드 , 수전교체 , 벽장</li>
                        <li>욕실 : 타일교체 , 샤워부스설치 , 욕실 1EA 전면 교체 , 돔 천정</li>
                        <li>타일 : 주방 , 베란다 (국산 고급 타일 교체)</li>
                        <li>기타 : 빨래 건조대 , 거실등 , 스위치 , 도어락 교체</li>
                        　　<br>

                        <div class="myexpense">\30,000,000</div>
                        　　<br>　　<br>
                        *ART WALL
                        　　<br>　- 디자인에 의해서 별도 계상
                        　　<br>　- 철거 공사비 별도

                    </ul>
                    </p>
                </div>
                <div class="tab-pane" id="panel-50pyoung">
                    <p>
                    <ul>
                        <li>바닥 : 강화마루.방문턱제거:거실,룸</li>
                        <li>도배 : 거실(실크,2면 Point 벽지)
                            <br>　　　방(실크 벽지)
                        </li>
                        <li>도장 : 전체 REPAINT　　실내:색락카
                            <br>　　　　　　　　　　　베란다:수성페인트
                        </li>
                        <li>몰딩 : 천정,코너,도어,등박스 몰딩. 걸레받이(거실)
                            <br>　　　우드판넬(거실)
                        </li>
                        <li>싱크대 : 상판(인조대리석) , 도어(전사) , 싱크볼 , 후드 , 수전교체 , 벽장 , 기타 싱크 악세사리</li>
                        <li>욕실 : 타일교체,샤워부스설치,욕실 1EA 전면 교체 , 돔 천정 , 욕실 1EA 비데 설치</li>
                        <li>타일 : 현관 , 주방 , 베란다 (국산 고급 타일 교체)</li>
                        <li>기타 : 신발장 , 빨래 건조대 , 거실등 , 방등 , 스위치 , 도어락 교체</li>
                        　　<br>

                        <div class="myexpense">\35,000,000</div>
                        　　<br>　　<br>
                        *ART WALL
                        　　<br>　- 디자인에 의해서 별도 계상
                        　　<br>　- 철거 공사비 별도

                    </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>

<!--모달 화장실-->
<div class="modal fade" id="modal-container-bathroom-01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/bathroom/bath (1).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-bathroom-02" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/bathroom/bath (2).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-bathroom-03" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/bathroom/bath (3).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-bathroom-04" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/bathroom/bath (4).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-container-bathroom-05" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/bathroom/bath (5).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-container-bathroom-06" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/bathroom/bath (6).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-bathroom-07" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/bathroom/bath (7).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-bathroom-08" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/bathroom/bath (8).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-bathroom-09" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/bathroom/bath (9).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<!--모달 주방-->
<div class="modal fade" id="modal-container-kitchen-01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/kitchen/kitchen (1).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-kitchen-02" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/kitchen/kitchen (2).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-kitchen-03" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/kitchen/kitchen (3).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-kitchen-04" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/kitchen/kitchen (4).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-container-kitchen-05" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/kitchen/kitchen (5).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-container-kitchen-06" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/kitchen/kitchen (6).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-kitchen-07" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/kitchen/kitchen (7).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-kitchen-08" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/kitchen/kitchen (8).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<!--모달 거실-->
<div class="modal fade" id="modal-container-living-01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/living/living (1).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-living-02" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/living/living (2).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-living-03" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/living/living (3).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-living-04" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/living/living (4).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-container-living-05" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/living/living (5).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-container-living-06" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/living/living (6).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-living-07" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/living/living (7).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-living-08" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/living/living (8).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-container-living-09" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><img src="../../images/bullet_02.png" alt="포폴분류"> 아파트 리모델링
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../images/portfolio/apt/living/living (9).jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>