<link href="../../styles/main.css" rel="stylesheet">
<link href="../../styles/wacommon.css" rel="stylesheet">
<link href="../../styles/masion.css" rel="stylesheet">

<link href="../../styles/introduction.css" rel="stylesheet">


<div class="container">
    <div class="col-md-12 column">
        <div class="tabbable" id="tabs-616975">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#panel-living" data-toggle="tab">거실</a>
                </li>
                <li class="">
                    <a href="#panel-kitchen" data-toggle="tab">주방</a>
                </li>
                <li class="">
                    <a href="#panel-bathroom" data-toggle="tab">화장실</a>
                </li>
                <li class="">
                    <a href="#panel-expense" data-toggle="tab">개략공사비산정</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-living">
                    <p>
                        I'm in Section 1.
                    </p>
                </div>
                <div class="tab-pane" id="panel-kitchen">
                    <p>
                        Howdy, I'm in Section 2.
                    </p>
                </div>
                <div class="tab-pane" id="panel-bathroom">
                    <p>
                        Howdy, I'm in Section 3
                    </p>
                </div>
                <div class="tab-pane" id="panel-expense">

                    <div class="col-md-12 column">
                        <div class="tabbable" id="tabs-616975">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#panel-27pyoung" data-toggle="tab">27평</a>
                                </li>
                                <li class="">
                                    <a href="#panel-38pyoung" data-toggle="tab">38평</a>
                                </li>
                                <li class="">
                                    <a href="#panel-45pyoung" data-toggle="tab">45평</a>
                                </li>
                                <li class="">
                                    <a href="#panel-50pyoung" data-toggle="tab">50평</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="panel-27pyoung">
                                    <p>
                                        I'm in Section 1.
                                    </p>
                                </div>
                                <div class="tab-pane" id="panel-38pyoung">
                                    <p>
                                        Howdy, I'm in Section 2.
                                    </p>
                                </div>
                                <div class="tab-pane" id="panel-45pyoung">
                                    <p>
                                        Howdy, I'm in Section 3
                                    </p>
                                </div>
                                <div class="tab-pane" id="panel-50pyoung">
                                    <p>
                                        Howdy, I'm in Section 4
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>