<link href="../../styles/main.css" rel="stylesheet">
<link href="../../styles/wacommon.css" rel="stylesheet">
<link href="../../styles/masion.css" rel="stylesheet">

<link href="../../styles/introduction.css" rel="stylesheet">


<div class="col-md-12 column line-bottom">
    <div class="row clearfix">
        <h3 class="pull-left"> 로그인 </h3>
    </div>
</div>

<div class="col-md-12 lo-01">
    <p class="text-center"><img src="images/flower.png" alt="로그인페이지">
    </p>

    <form class="form-signin" id="login">

        <input type="text" class="form-control form-style" placeholder="아이디" id="account" autofocus required="required">
        <input type="password" class="form-control form-style" placeholder="비밀번호" id="pswd" required="required">
        <button class="btn btn-lg btn-brown btn-block" type="button" onclick="chkProcess()" style="">
            Log in
        </button>
    </form>
</div>

<script>
    var chkProcess = function () {
        var account = $('#account').val();
        var pswd = $('#pswd').val();
        $.post('/getdata', {account: account, pswd: pswd}, function (data) {
            sessionStorage.setItem('name', data.sending[0].name);
            sessionStorage.setItem('role', data.sending[0].role);
            history.back();
        });
    };
</script>
